@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i&display=swap');

$font-stack:  Lato, system-ui;
$primary-color: #13C1C0;
$secondary-color: #181A3E;
$tertiary-color: #1F2248;
$fourth-color: #252852;
$five-color: #3F426E;
$item-height: 80px;
